<h1>Frequently Asked Questions Things to Avoid</h1>
<h4>The Questions Aren&#8217;t Frequently Asked</h4>
<p>Imagine that you&#8217;ve just launched a new website and have included an FAQ page. Why? If you don&#8217;t have any
    users yet, then you certainly haven&#8217;t received any questions (much less frequently asked ones).</p>
<p>Without user feedback, questions on this page are simply the site owner&#8217;s assumptions of what his users might
    want to know.</p>
<h4>The Questions Are From Left Field</h4>
<p>We&#8217;ve all seen FAQ pages that have bizarre questions &#8212; questions that have probably never entered anyone&#8217;s
    mind. Such questions are ones that website owners would like to be asked (e.g., &quot;Why is this website so
    amazing?&quot;, &quot;Who are the talented people running this website?&quot;).</p>
<h4>The Page Label Isn&#8217;t Intuitive</h4>
<p>The first time I saw an &quot;FAQ&quot; link was 10 years ago. I wondered about it for a while and eventually learned
    its meaning. Designers must be considerate of users who don&#8217;t understand technical terms. &quot;Frequently
    asked questions&quot; is clearer than &quot;FAQ.&quot;</p>
<p>Also, descriptive and standard labeling is important. For example, <a href="http://www.courtinfo.ca.gov/">California
    Court</a> uses the label &quot;Q&amp;A,&quot; but that&#8217;s even more ambiguous than FAQ. Unless you have a good
    reason, stick with the standard label of &quot;FAQ&quot; or &quot;Frequently asked questions.&quot;</p>
<h4>The FAQ Page Isn&#8217;t Really Needed</h4>
<p>Many websites have an FAQ page, <a href="http://sixrevisions.com/user-interface/stop-the-faq-page-bandage/"
                                      title="Stop the FAQ Page Bandage">but some don&#8217;t need one at all</a>.
    Sometimes users find all the information they&#8217;re looking for and have no further questions. This means that
    the <a
        href="http://sixrevisions.com/usabilityaccessibility/information-architecture-101-techniques-and-best-practices/">information
        architecture</a> was designed well.</p>
<p>Imagine an online shop that presents prices and shopping instructions in one particular location; say, on a separate
    page or part of the home page. But if the FAQ page addresses pricing, it will be redundant; yet some users might
    seek it out to find pricing information. Link to the main pricing page instead.</p>
<p>Here&#8217;s a rule of thumb: if one type of information can be relayed in many ways on one website, there is
    something wrong with the information architecture of the website. Everything should be placed in its proper
    location.</p>
<h3>How to Design an Effective FAQ Page</h3>
<p>A good FAQ page lightens the load on help desks and customer support calls, which translates to cost savings and
    convenience for the user (since they don&#8217;t have to send a help ticket or pick up the phone to have their
    question answered). Thus, the importance of a well-crafted FAQ page can&#8217;t be denied.</p>
<p>When designing FAQ pages, have the following tips and strategies in mind.</p>
<h4>Say &quot;No&quot; to FAQ Pages</h4>
<p>Start by saying &quot;No&quot; to FAQ pages. In web design, you should strive for simplicity and you should
    constantly eliminate things that simply aren&#8217;t needed. The FAQ page supports the rest of the website&#8217;s
    content; if it doesn&#8217;t enhance what&#8217;s already there, it shouldn&#8217;t be a priority.</p>
<p>When an FAQ page is needed, it will be your users indicating the need for it. Perhaps you&#8217;ll start getting the
    same questions over and over again or a reoccuring feedback you get is the need for an FAQ page. Let users determine
    whether they need an FAQ or not.</p>
<h4>Gather the Right Questions</h4>
<p>The questions on the FAQ page must be real. For a new website, choose a timeframe (say, one month), and then survey
    and categorize the questions that users ask during that time via direct calls or email. You could even announce your
    open question period on the website.</p>
<p>If patterns emerge, it probably indicates a topic that should be addressed on the FAQ page. In this way, you can
    update the FAQ page regularly. This method is effective because users are actually participating in the page&#8217;s
    creation.</p>
<p>For example, <a href="http://www.invoicemachine.com/">The Invoice Machine</a> invites questions, thus showing off its
    desire to create an FAQ page filled with useful questions.</p>
